.markdown-preview-view h1,.cm-header.cm-header-1{font-weight: 700;font-size: 40px;color:#fafafa}
.markdown-preview-view h2,.cm-header.cm-header-2{font-weight: 600;font-size: 25px;color:#fafafaa8}
.markdown-preview-view h3,.cm-header.cm-header-3{font-weight: 550;font-size: 10px;color:#9c9c9e}
.markdown-preview-view h4,.cm-header.cm-header-4{font-weight: 400;font-size: 10px;color:#399adb}
.markdown-preview-view h5,.cm-header.cm-header-5{font-weight: 400;font-size: 10px;color:#399adb}
.markdown-preview-view h6,.cm-header.cm-header-6{font-weight: 400;font-size: 10px;color:#399adb}